:root{
    /*ORINAL COLORS*/
    --main-light-grey:#E9E9E9;
    --main-red:#BB133E;
    --main-blue:#002147;
    --main-white:#FFFFFF;
    --main-dark-grey:#464447;
    /*DARKER TONE*/
    --darker-light-grey:#d9d9d9;
    --darker-red:#a21035;
    --darker-blue:#001833;
    --darker-white:#F2F2F2;
    --darker-dark-grey:#403e41;
    /*LIGHTER TONE*/
    --lighter-light-grey:#f2f2f2;
    --lighter-red:#d11544;
    --lighter-blue:#00244d;
    --lighter-white:#F2F2F2;
    --lighter-dark-grey:#4d4b4e;
}
*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button:focus{ 
    outline: none; 
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.broadsides{
    max-width: 100%;
    height: 100%;
    margin: 0 100px;
}

.categories{
    height: 300px;
    width: 100%;
    margin: 50px 0;
    position: relative;
}
.categories__img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    
}

.categories__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);

}
.categories__overlay-text{
    color: var(--main-white);
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    /* font-weight: bold; */
    font-family: arial black;
    letter-spacing:-5px;
}




/**************************topbar**************************/
.topbar{
    align-items: center;
    background: var(--main-red);
    color: var(--main-white);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    padding: 0px 100px;    
}
.topbar--address{
    text-indent: -22px;
}
.topbar__contact{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    justify-items: start;
}
.topbar__contact-links{
    color: var(--main-white);
}
.topbar__contact-links:hover{
    color: var(--main-blue);
}
.topbar__social{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    justify-items: end;
    margin: 20px 0;
}
.topbar__social-links{
    color:var(--main-white);
}
.topbar__social-links:hover{
    color:var(--main-blue);
}
.topbar__triangle{
    display: none;
}
.topbar__triangle.rotation{
    transform: rotate(180deg);
}
.topbar__waze{
    vertical-align: middle;
}
/**********************************************************/

/**************************header**************************/
.header{
    align-items: center;
    border-bottom:1px solid var(--main-light-grey);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    gap:0 25px;
    margin:0px;
    padding: 25px 0px;    /**/
}
.header__img{
    display: block;
    margin: 0 auto;
}
.header__logo{
    justify-self: center;
    min-width: 300px;
}
.header__slogan{
    color:var(--main-blue);
    text-align: center;
    font-size: 1.8em;
    margin-top: 10px;
    font-style: oblique;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-name: slogan;
    -moz-animation-name: slogan;
}
.gsc-control-cse{
    border:none !important;
    font-size: 1em !important;
    font-family: 'Quicksand', sans-serif !important;
    padding: 0 !important;
}
.gsc-input-box{
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}
.gsc-search-button{
    background: var(--main-red);
    cursor: pointer; 
    outline: none;
}
.gsc-search-button-v2{
    border: none !important;
    background-color: var(--main-red) !important;
    background-image: none !important;
    border-color: var(--main-red) !important;
    border-radius: 3px !important;
    width: 69px !important;
    height: 29px !important;
}
/**********************************************************/

/**************************navbar**************************/
.navbar{
    margin: 25px 0px 0px 0px; /**/
}
.navbar__bars{
    display: none;
}
.navbar__close-x{
    display: none;
}
.navbar__dropdown-icon{
    display: none;
}
.navbar__elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: 0.8s;
    font-weight: bolder;
}
.navbar__links{
    padding: 25px 0;
    display: block;
    color: var(--main-dark-grey);
    border-radius: 3px;  
}
.navbar__links:hover{
    background: var(--main-light-grey);
}
.navbar__list{
    width: 100%;
    text-align: center;
}
.navbar__list:nth-child(2) .navbar__links{
    background: var(--main-blue);
    min-width: 300px;
    max-width: 300px;
    color: var(--main-white);
}
.navbar__list:nth-child(2):hover .navbar__links{
    background: var(--darker-blue);
}
.navbar__list:nth-child(3) .navbar__links{
    padding: 24px 0;
}
.navbar__verticalnav-elements{
    display: none;
}
.navbar__alonebutton{
    display: none;
}
/**********************************************************/

/************************slideshow*************************/
.slideshow{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    padding: 25px 0px; /**/
    gap: 0px 25px;
}
.slideshow__button {
    border: 2px solid var(--main-blue);
    background-color: transparent;
    color: var(--main-light-grey);
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;    
}
.slideshow__button:hover {
    background-color: var(--main-blue);
}
.slideshow__button#slideshow__next {
    position: absolute;
    top: calc(50% - 25px);
    right: 10px;
}
.slideshow__button#slideshow__prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
}
.slideshow__content {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--main-white);
    padding: 35px;
    text-align: center; 
}
.slideshow__elements{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.slideshow__links{
    padding: 25px 0;
    width: 100%;
    display: block;
    text-align: center;
    color: var(--main-dark-grey);
}
.slideshow__links:hover{
    background: var(--main-light-grey);
}
.slideshow__list{
    width: 100%;
    border-bottom: 1px solid var(--main-light-grey);
}
.slideshow__list:nth-child(7){
    border-bottom: none;
}
.slideshow__navbar{
    min-width: 300px;
    border-radius: 3px;
    border: 1px solid var(--main-light-grey);
}
.slideshow__slider{
    position: relative;
    height: 100%;
    width: 100%;
}
.slideshow__slider-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.slideshow__slides {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    border-radius: 3px;
}
.slideshow__slides.current {
    opacity: 1;
}
.slideshow__slides.current .slideshow__content  {
    opacity: 1;
    transition: all 0.7s ease-in-out 0.3s;
}
.slideshow__slides:first-child {
    background: url(../imgs/mainslide/slide1.jpg) no-repeat center top/cover;    
}
.slideshow__slides:nth-child(2) {
    background: url(../imgs/mainslide/slide2.jpg) no-repeat center top/cover;
}
.slideshow__slides:nth-child(3) {
    background: url(../imgs/mainslide/slide3.jpg) no-repeat center top/cover;
}
.slideshow__slides:nth-child(4) {
    background: url(../imgs/mainslide/slide4.jpg) no-repeat center top/cover;
}
.slideshow__slides:nth-child(5) {
    background: url('https://source.unsplash.com/ULmaQh9Gvbg/1600x900') no-repeat center top/cover;
} 
.slideshow__slides:nth-child(6)  {
    background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat center center/cover;
}
.slideshow__tittle {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: Arial black;
    font-size: 2em;
}
/**********************************************************/

/**************************Bonus***************************/
.bonus{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    /* padding: 0 100px; */
    gap:5px;
    margin-top: 79px;
    justify-items: space-between;
    width: 100%;
}
.bonus__content{
    text-align: center;
    padding-top: 22px;
}
.bonus__elements{
    border:1px solid var(--main-light-grey);
    border-radius: 3px;
    align-items: center;
    height: 72px;
    position: relative;
    min-width: 175px;
}
.bonus__icon{
    color: var(--main-white);
    width: 72px;
    height: 72px;
    padding: 18px 0;
    background: var(--main-red);
    text-align: center;
    display: block;
    border-radius: 100%; 
    position: absolute;
    top:-54px;
    left:50%;
    margin-left: -36px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.bonus__icon:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
}
.bonus__img{
    width: 1.9em;
    display: block;
    margin: 0 auto;
}
.bonus__text{
    font-size: 0.7em;
    color:var(--lighter-dark-grey);
}
.bonus__tittle{
    font-size: 1em;
    text-transform: uppercase;
    color:var(--lighter-dark-grey);
    font-weight: 500;
}

/**********************************************************/

/***********************carousel***************************/
.carousel{
    margin-top: 50px;
    padding: 0 75px 0 100px; 
}
.carousel__buttons{
    margin-right: 25px;
    margin-bottom: 5px;
    width: 100%;
}
.carousel__container{
    text-align: right;
}
.carousel__content{
    color: var(--lighter-dark-grey);
    font-weight: 300;
    text-align: left;
}
.carousel__list{
    border:1px solid var(--main-light-grey);
    margin-right: 25px;
    padding: 10px;
    border-radius: 3px;
    position: relative;
}
.carousel__list:hover{
    border:1px solid var(--main-red);
}
.carousel__prev,
.carousel__next{
    width: 2em;
    height: 2em;
    border:none;
    cursor: pointer;
    background: var(--main-dark-grey);
    color: var(--main-light-grey);
    border-radius: 100%;
}
.carousel__prev:hover,
.carousel__next:hover{
    background: var(--main-red);
    color: var(--main-white);
}
.carousel__product-name{
    margin: 10px 0 5px 0;
    color: var(--lighter-dark-grey);
    font-weight: 500;
    font-weight: bold;
}
.carousel__product-price{
    color: red;
    font-weight: 500;
    margin: 5px 0;
}
.carousel__product-price-prev{
    color: var(--lighter-dark-grey);
    font-weight: 300;
    margin-left: 10px;
    font-size: 0.8em;
    text-decoration: line-through;
}
.carousel__product-runout{
    position: absolute;
    padding: 10px 0;
    width: 100%;
    color: var(--main-white);
    background: var(--main-blue);
    top:calc(50% - 38px);
    left:0;
    text-align: center;
    opacity: 0.8;
    font-weight: bold;
    font-family: Arial black;
    letter-spacing: 3px;
    text-shadow: 1px 1px var(--main-red);
}
.carousel__saletag {
    background: var(--main-red);
    width: 35px;
    height: 35px;
    position: relative;
    text-align: center;
}
.carousel__saletag-container{
    position: absolute;
    bottom:10px;
    right: 10px;
}
.carousel__saletag:before,
.carousel__saletag:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background: var(--main-red);
}
.carousel__saletag:before {
    transform: rotate(30deg);
}
.carousel__saletag:after {
    transform: rotate(60deg);
}
.carousel__saletag-text{
    position:absolute;
    z-index:100;
    color:white;
    left:0;
    right:0;
    top:9px;
    transform: translateY();
    margin: auto;
    font-size:0.8em;
    font-weight: bold;
    letter-spacing: 1px;
}
.checked {
    color: orange;
}
.main__website-tittle{
    color: var(--main-dark-grey);
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: var(--main-red);
}
/**********************************************************/

/************************banner****************************/
.banner__container{
    margin: 50px 0;
    /* padding: 0 100px; */
    width: 100%;
    height: auto;
}
/**********************************************************/

/*********************new products*************************/
.newproducts{
    padding: 0 100px;
    width: 100%;
}
.newproducts__main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    margin-top: 25px;
}
.newproducts__main-container{
    border:1px solid var(--main-light-grey);
    border-radius:3px;
    display: flex;
    flex-direction: column;
    padding-top:10px;
    height: 100%;
}
.newproducts__main-container:hover{
    border:1px solid var(--main-red);
}
.carousel__main-content{
    width: 100%;
    height: 100%;
    padding: 40px 10px;
    align-self:center ;
}
.newproducts__main-image{
    height: 300px;
    width: auto;
}
.newproducts__main-img{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
}
.newproducts__main-product{
    display: grid;
    grid-template-columns: 1fr;  
}
.newproducts__second-elements{
    border:1px solid var(--main-light-grey);
    border-radius:3px;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    column-gap: 10px;
}
.newproducts__second-elements:hover{
    border:1px solid var(--main-red);
}
.newproducts__second-elements .carousel__content{
    width: 100%;
    align-self: center;
}
.newproducts__second-image{
    height: 150px;
    width: auto;
}
.newproducts__second-img{
    width: auto;
    height: 100%;
    display: block;
}
.newproducts__second-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap:10px;
}
/**********************************************************/

/*********************new products*************************/
.cm--second{
    display: none;
}
/**********************************************************/

/************************brands****************************/
.brands{
    margin: 50px 0;
    /* padding: 0 100px; */
    text-align: center;
}
.brands__container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items:center;
}
.brans__img{
    width: 150px;
    height: 100px;
    filter: grayscale(100%);
    opacity: 0.5;
}
.brans__img:hover{
    filter: grayscale(0%);
    opacity: 1;
}
.brands_tittle{
    color: var(--lighter-dark-grey);
    font-size: 1.3em;
}
/**********************************************************/

/*********************new products*************************/
.google__maps{
    width: 100%;
    height: 300px;
}
/**********************************************************/

/************************footer****************************/
.footer{
    background: var(--main-blue);
    width: 100%;
    height: auto;
    color: var(--main-white);
    padding:0 100px;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 1px solid var(--main-light-grey);
    padding-bottom: 50px;
}
.footer__direction{
    font-size: 1.2em;
}
.footer__email,
.footer__phone,
.footer__waze{
    width: 100%;
    height: auto;
    justify-self: center;
    text-align: center;
    padding: 0 5px;
}
.footer__email a,
.footer__phone a,
.footer__waze a{
    color: var(--main-white);
}
.footer__email{
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--main-light-grey);
    border-right: 1px solid var(--main-light-grey);
}
.footer__email a:hover{
    color: var(--main-red);
}
.footer__email i{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-name: run;
    -moz-animation-name: run;
}
.footer__phone{
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--main-light-grey);
}
.footer__phone a{
    font-size: 1.2em;
    margin:5px 0;
}
.footer__phone a:hover{
    color: var(--main-red);
}
.footer__phone i{
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}
.footer__text{
    font-weight: bold;
    margin: 25px 0; 
}
.footer__tittle{
    text-align: center;
    padding: 50px 0;
    color: var(--main-light-grey);
}
.footer__waze{
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--main-light-grey);
}
.footer__waze-img{
    display: block;
    margin:0 auto;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-name: bounce;
    -moz-animation-name: bounce;
}
/**********************************************************/

/************************bottombar*************************/
.bottombar{
    width: 100%;
    height: auto;
    padding: 10px 100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-white);
    background: var(--main-blue);  
}
.botttombar__creditcards i{
    margin-right: 10px;
}
.bottombar__social a{
    margin-left: 20px;
    color: var(--main-white);
}
.bottombar__social a:hover{
    color: var(--main-red);
}
/**********************************************************/

/************************copyright*************************/
.copyright{
    background: var(--main-blue);
    color: var(--main-light-grey);
    font-size: 0.7em;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.copyright a{
    color: var(--main-light-grey);
    margin-left: 10px;
}
.copyright__chiwiwiche{
    color:var(--main-red);
    font-size: 1.2em;
}
/**********************************************************/

/**************************navpages**************************/
.navbar--pages{
    display: none;
}
.navpages{
    width: 100%;
    margin-top: 25px;
}
.navpages__elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navpages__links{
    display: block;
    width: 150px;
    padding: 25px 0;
    text-align: center;
    color: var(--main-dark-grey);
    border-bottom:5px solid var(--main-blue);
}
.nav--house{
    padding: 24px 0;
}
.activebar, .navpages__links:hover{
    color: var(--main-red);
    border-bottom: 5px solid var(--main-red);
}
/************************************************************/

/****************************form****************************/
.form{
    background: var(--main-light-grey);
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 50px auto 100px auto;
    padding: 50px;
    border-radius: 3px;
}
.form__name,
.form__tel,
.form__email,
.form__consult{
    background: var(--main-white);
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    border: none;
    text-indent: 10px;
    resize: vertical;
}
.formcantsend{
    background: var(--main-red);
}
.form__consult{
    resize: vertical;
    height: 200px;
    max-height: 400px;
    min-height: 200px;
    padding: 10px;
    text-indent: unset;
}
.form__name::placeholder,
.form__tel::placeholder,
.form__email::placeholder,
.form__consult::placeholder{
    color: var(--lighter-blue);
}
.formoops{
    background: black;
}
.form__submit{
    background: var(--main-red);
    border: none;
    cursor: pointer;
    padding: 10px 0;
    color: var(--main-white);
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 0 8px  0 -1px #740b26;
}
.form__submit:link,
.form__submit:active{
    background: var(--darker-red);
    box-shadow: 0 5px #460717;
    transform: translateY(5px);
}
.formsend{
    background: var(--main-blue);
}
.formcantsend,
.formoops,
.formsend{
    width: 500px;
    margin: 50px auto 0px auto;
    color: var(--main-white);
    padding: 25px;
    text-align: center;
    border-radius: 3px;
}
/************************************************************/

/***********************nosotros*****************************/
.nosotros{
    margin: 50px 0;
}
.nosotros__content{
    align-self: center;
    color: var(--darker-dark-grey);
    width: 100%;
    text-align: justify;
}
.nosotros__elements{
    margin: 0 auto;
    width: 210px;
}
.nosotros__image-container{
    width: 100%;
    overflow-y: hidden;
}
.nosotros__list{
    list-style: inside;
    font-size: 1.3em;
    margin: 10px 0;    
}
.nosotros__mision{
    display: flex;
    flex-direction: row;
}
.nosotros__mision-img{
    width: 50%;
    border-radius: 3px;
    margin-right: 25px;
}
.nosotros__tittle{
    color: var(--main-red);
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 25px;
}
.nosotros__valores{
    display: flex;
    flex-direction:column;
}
.nosotros__valores-img{
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    margin-top: 25px;
}
.nosotros__vision{
    display: flex;
    flex-direction: row;
    margin: 100px 0;
}
.nosotros__vision-img{
    width: 50%;
    border-radius: 3px;
    margin-left: 25px;
}


/************************************************************/

/***********************ofertas******************************/
.ofertas{
    margin:50px 0;
}
.ofertas__list{
    border:1px solid var(--main-light-grey);
    padding: 10px;
    border-radius: 3px;
    position: relative;
}
.ofertas__list:hover{
    border:1px solid var(--main-red);
}
.ofertas__main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 25px;
}
.ofertas__img{
    width: 100%;

}
/************************************************************/

/**************************catalogo**************************/
.catalogo{
    width: 100%;
}
.catalogo__main{
    display:grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap:5px;
    margin: 50px 0;
    
}
.catalogo__item{
    position: relative;
    overflow: hidden;
}
.catalogo__item:first-child {
    grid-column: span 1;
    grid-row: span 2;
}
.catalogo__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(187, 19, 62, 0);
}
.catalogo__item:hover .catalogo__overlay{
    opacity: 1;
    background-color: rgba(187, 19, 62, 0.4);
    
}
.catalogo__item:hover img{
    transform: scale(1.1,1.1);
}
.catalogo__overlay-text{
    color: var(--main-white);
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bolder;
}

.cafeteria__img,
.carniceria__img,
.lineafria__img,
.panaderia__img,
.pizzeria__img,
.restaurante__img,
.snacks__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: 3s ease;
}


/************************************************************/


@media only screen and (max-width: 1100px) {
    /**************************topbar**************************/
    .topbar{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 52px 34px;
        padding: 0px 100px;
        transition: all ease-in-out 0.8s ;
        transform: translate(0px, -175px);
    }
    .topbar--address{
        text-indent: 0px;
    }
    .topbar__address-subspan br{
        display: none;
    }
    .topbar__contact{ 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        justify-items: center; 
    }
    .topbar__contact-links{
        align-self: center;
        margin: 10px 0;
    }
    .topbar__contact-links:nth-child(1){
        grid-column: 1 / 1;
        grid-row: 2 / 3;
        margin-left: -12px;
    }
    .topbar__contact-links:nth-child(2){
        grid-column: 1 / 1;
        grid-row: 3 / 4;
    }
    .topbar__contact-links:nth-child(3){
        grid-column: 1 / 1;
        grid-row: 1 / 2;
    } 
    .topbar.down{
        height: 100%;
        transform: translate(0px, 0px);
    }
    .topbar__social{
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
        justify-content: space-between;
        margin: 10px 0;
    }
    .topbar__social-links{
        align-self: center;
    }
    .topbar__triangle{
        color: var(--main-white);
        display:inherit;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        margin: 5px 0;
        cursor: pointer;
        transition: 0.8s;
    }
    /**********************************************************/

    /**************************header**************************/
    .header{
        margin-top: -175px;
    }
    /**********************************************************/

    /**************************Bonus***************************/
    .bonus{
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 1fr);
        row-gap:10px;
        column-gap:0px;
        justify-content: space-between; 
    }
    .bonus__elements:nth-child(1){
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .bonus__elements:nth-child(2){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .bonus__elements:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .bonus__elements:nth-child(4){
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .bonus__elements:nth-child(5){
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    /**********************************************************/
    
    /*********************new products*************************/
    .newproducts__main{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        column-gap: 0px;
        row-gap:10px;
        margin-top: 25px;
    }
    /**********************************************************/

    /***********************ofertas****************************/
    .ofertas__main{
        gap:25px;
    }
    /**********************************************************/
    
}


@media only screen and (max-width: 850px) {
    .broadsides{
        margin: 0 25px;
    }
    /**************************topbar**************************/
    .topbar{
        padding: 0px 25px;
    }
    /**********************************************************/

    /**************************header**************************/
    .header{  
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        /* padding: 25px; */
    }
    .header__logo{
        padding-bottom: 25px;
    }
    /**********************************************************/
    
    /**************************navbar**************************/
    .navbar{
        position: relative;
        background: var(--main-blue);
        margin: 25px auto 0px auto;
        width: 200px;
        border-radius: 5px;
    }
    .navbar:hover{
        background: var(--darker-blue)
    }
    .navbar__close-x{
        cursor: pointer;
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        color: var(--main-white);
        background: var(--main-blue); 
        font-size: 2em; 
    }
    .navbar__close-x:hover{
        background: var(--darker-blue);
    }
    .navbar__bars{
        cursor: pointer;
        display: flex;
        color: var(--main-white);
        justify-content: center;
        padding: 10px 0;
        font-size: 2em;
    }
    .navbar__elements{
        position: fixed;
        height: 100vh;
        width: 70%;
        top: 0;
        left: 0;
        flex-direction: column;
        transform: translate(-100%);
        background: var(--main-white);
        pointer-events: none;
        border:1px solid var(--main-light-grey);
        overflow-y:scroll;
        overflow-x:hidden ;
        z-index: 3;        
    }
    .navbar__links{
        margin: 0;
        border-radius: 0;
    }
    .navbar__list:nth-child(2) .navbar__links{
        display: none;
    }

    .navbar__list:nth-child(2) .navbar__alonebutton{
        display: inherit;
        max-width: 100%;
        min-width: initial;
        background: var(--main-red);
        color: var(--main-white); 
    }
    .navbar__list:nth-child(2):hover .navbar__alonebutton{
        background: var(--darker-red);
    }
    .navbar__elements.open{
        transform: translate(0%);
        pointer-events: all;
    }
    .navbar__verticalnav-links{
        background: var(--lighter-light-grey);
        color: var(--main-dark-grey);
        padding: 25px 0;
        display: flex;
        flex-direction: column;
    }
    .navbar__verticalnav-links:hover{
        background: var(--main-light-grey);
    }
    .navbar__dropdown-icon{
        display: initial;
        color: var(--main-white);
        vertical-align: top;
    }
    .navbar__verticalnav-elements.reopen{
        display: inherit;
    }
    /**********************************************************/
    
    /************************slideshow*************************/
    .slideshow{
        grid-template-columns:1fr;
        grid-template-rows: 80vh;
        padding: 25px 0;
    }
    .slideshow__navbar{
        display: none;
    }
    /**********************************************************/

    /***********************carousel***************************/
    .carousel{
        padding: 0 0 0 25px;
    }
    /**********************************************************/

    /*********************new products*************************/
    .newproducts{
        padding: 0 25px;
    }
    /**********************************************************/
    
    /*************************footer***************************/
    .footer{
        padding:0 25px;
    }
    /**********************************************************/
    
    /************************bottombar*************************/
    .bottombar{
        padding: 10px 25px;  
    }
    /**********************************************************/

    /**************************navpages************************/
    .navbar--pages{
        display: inherit;
    }
    .navpages{
        display: none;
    }
    /**********************************************************/
    /****************************form**************************/
    .form{
        margin: 50px auto;
        padding: 25px;
    }
    /**********************************************************/
    
    /**************************nosotros************************/
    .nosotros__mision{
        display: flex;
        flex-direction: column-reverse;
    }
    .nosotros__mision-img{
        width: 100%;
        margin-right: 0px;
        margin-top: 25px;
    }
    .nosotros__vision{
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
    .nosotros__vision-img{
        width: 100%;
        margin-left: 0px;
        margin-top: 25px;
    }
    .nosotros__text{
        margin:0 auto;
    }
    /**********************************************************/

    
    
    
}


@media only screen and (max-width: 650px) {
    /**************************Bonus***************************/
    .bonus{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
        margin-top: 25px;
    }
    .bonus__content{
        text-align: center;
        padding-top: 0;
        margin-left:0px;
        margin-bottom:25px;
    }
    .bonus__elements{
        align-items: center;
        height: auto;
        position: initial;
        width: 200px;
    }
    .bonus__elements:nth-child(1){
        grid-column: inherit;
        grid-row: inherit;
    }
    .bonus__elements:nth-child(2){
        grid-column: inherit;
        grid-row: inherit;
    }
    .bonus__elements:nth-child(3){
        grid-column: inherit;
        grid-row: inherit;
    }
    .bonus__elements:nth-child(4){
        grid-column: inherit;
        grid-row: inherit;
    }
    .bonus__elements:nth-child(5){
        grid-column: inherit;
        grid-row: inherit;
    }
    .bonus__icon{
        top:0;
        left:0;
        margin-left: 0;
        position: inherit;
        margin: 25px auto;
    }
    /**********************************************************/
    
}


@media only screen and (max-width: 590px) {
    /**************************topbar**************************/
    .topbar{
        transform: translate(0px, -192px);
    }
    .topbar--address{
        text-align: center;
        align-self: center;
    }
    .topbar__address-subspan br{
        display: inherit;
    }
    .topbar__contact{ 
        grid-template-columns: 1fr;
        grid-template-rows: 60px 40px 40px; 
    }
    /**********************************************************/
    
    /**************************header**************************/
    .header{
        margin-top: -193px;
    }
    /**********************************************************/

    /************************slideshow*************************/
    .slideshow__content {
        width: 100%;
        padding: 15px;
        bottom: 0%;
        left: 0%;
        transform: unset;
    }
    /**********************************************************/
    
    /*********************new products*************************/
    .cm--second{
        display: initial;
    }
    .newproducts__main{
        display: none;
    }
    .newproducts{
        padding: 0 0 0 25px;
    }
    /**********************************************************/
    
    /************************brands****************************/
    .brands__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
    }
    /**********************************************************/
    
    /*************************footer***************************/
    .footer{
        padding:0 10px;
    }
    .footer__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-bottom: 0px;
        gap:25px 0px; 
        border: none;
    }
    .footer__email,
    .footer__phone,
    .footer__waze{
        border: none;
        border-bottom:1px solid var(--main-light-grey);
        padding-bottom: 25px;
    }
    /**********************************************************/
    
    /************************bottombar*************************/
    .bottombar{
        padding:25px 10px;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-self: center;
        gap:25px 0;
    }
    .botttombar__creditcards i{
        margin-right: 0px;
        margin:0px 10px;
    }
    .bottombar__social a{
        margin-left: 0px;
        margin:0px 10px;
    }
    /**********************************************************/
    /****************************form**************************/
    .form{
        width: 100%;
    }
    .form__cantsend,
    .form__oops,
    .form__send{
        width: 100%;
        margin: 100px auto;
        
    }
    /**********************************************************/

    /***********************ofertas****************************/
    .ofertas__main{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    /**********************************************************/

    /*************************catalogo*************************/
    .catalogo__main{  
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: 200px 300px 300px; 
    }
    .catalogo__item:first-child{
        grid-column: span 3;
        grid-row: span 1;
    }

    /**********************************************************/

    /************************categories************************/
    .categories__overlay-text{
        font-size: 3em;
    }
    /**********************************************************/
}


@media only screen and (max-width: 480px) {
    .broadsides{
        margin: 0 10px;
    }
    /**************************topbar**************************/
    .topbar{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding: 0px 10px;
    }
    /**********************************************************/

    /**************************header**************************/
    .header{
        padding: 25px 0px;/**/
    }
    /**********************************************************/

    /**************************navbar**************************/
    .navbar__elements{
        width: 100%;
    }
    /**********************************************************/

    /************************slideshow*************************/
    .slideshow{
        grid-template-rows: 100vh;
    }
    /**********************************************************/
    
    /***********************carousel***************************/
    .carousel{
        padding: 0 0 0 10px;
    }
    .carousel__list{
        margin-right: 10px;
    }
    /**********************************************************/

    /*********************new products*************************/
    .newproducts{
        padding: 0 0 0 10px;
    }
    /**********************************************************/

    /************************copyright*************************/
    .copyright{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright__dc{
        margin-bottom: 5px;
    }
    /**********************************************************/
    
    /*************************catalogo*************************/
    .catalogo__main{  
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 200px 300px 300px 300px; 
    }
    .catalogo__item:first-child{
        grid-column: span 2;
        grid-row: span 1;
    }
    /**********************************************************/
    
    
}


@media only screen and (max-width: 430px) {
    /**************************Bonus***************************/
    .bonus{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 0px;
    }
    .bonus__content{
        margin-bottom:10px;
    }
    .bonus__elements{
        align-items: center;
        height: auto;
        position: initial;
        width: 100%;
    }
    .bonus__icon{
        margin: 10px auto;
    }
    /**********************************************************/
    
    /************************brands****************************/
    .brans__img{
        width: 100px;
        height: 67px;
    }
    /**********************************************************/
    /****************************form**************************/
    .form__name,
    .form__tel,
    .form__email,
    .form__consult{
        font-size: 0.9em;
    }
    /**********************************************************/

}


@media only screen and (max-width: 320px) {
    /**************************topbar**************************/
    .topbar{
        transform: translate(0px, -212px);
    }
    .topbar__contact{ 
        grid-template-rows: 80px 40px 40px;
    }
    /**********************************************************/
    
    /**************************header**************************/
    .header{
        margin-top: -213px;
    }
    .header__logo{
        justify-self: center;
        min-width: 220px;
    }
    .header__slogan{
        font-size: 1.4em;
    }
    /**********************************************************/
    /****************************form**************************/
    .form{
        padding: 10px;
    }
    /**********************************************************/
    /***********************ofertas****************************/
    .ofertas__main{
        grid-template-columns: 1fr;
        gap: 25px;
    }

    /**********************************************************/
    /*************************catalogo*************************/
    .catalogo__main{  
        grid-template-columns:  1fr;
        grid-template-rows:  repeat(7, 250px); 
    }
    .catalogo__item:first-child{
        grid-column: span 1;
        grid-row: span 1;
    }
    /**********************************************************/
    /************************categories************************/
    .categories__overlay-text{
        font-size: 2em;
    }
    /**********************************************************/

}


@media only screen and (max-width: 300px) {
    /**************************topbar**************************/
    .topbar{
        transform: translate(0px, -232px);
    }
    .topbar__contact{ 
        grid-template-rows: 100px 40px 40px;
    }
    .topbar__social{
        border: none;
    }
    /**********************************************************/

    /**************************header**************************/
    .header{  
        /* padding: 25px 10px; */
        margin-top: -233px;
    }
    .header__slogan{
        font-size: 1.2em;
    }
    /**********************************************************/

    /************************bottombar*************************/
    .botttombar__creditcards i{
        margin:0px 5px; 
    }
    .bottombar__social a{
        margin:0px 5px;
        font-size: 0.8em;
    }
    /**********************************************************/
 
}

/***********************************************************/

/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px var(--main-dark-grey); 
}
::-webkit-scrollbar-track-piece {
    margin-top: 30vh;
    margin-bottom: 30vh;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-blue); 
    border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-red); 
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }
  
    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
  }
  
  @-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }
  
    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
  }
  
  @keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }
  @keyframes run {
    0%   {transform: scale(1,1);}
    50% {transform: scale(0.1,0.1) rotate(-360deg);}
    100%   {transform: scale(1,1) rotate(360deg);}
    
  }
  @keyframes slogan {
    /* 0%   {color:var(--main-blue);} */
    100%   {color:var(--main-red);}
    
  }
/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/